<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    
    <?include Variables.wxi?>
    
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="a4ef2f1e-2d39-4e13-936b-c4cb83cb03b5">

        <Shortcut Id="ShortcutAGC"
                  Name="AGC"
                  Description="$(var.ProductName)"
                  Target="[INSTALLLOCATION]AGC.GUI.exe"
                  WorkingDirectory="INSTALLLOCATION"/>

        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>

      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>